Live:
  # 推流链接，由服务器地址和串流密钥拼接而成
  BiliRtmpUrl: rtmp://live-push.bilivideo.com/live-bvc/?streamname=xxxx&key=xxxx&schedule=rtmp&pflag=1
  # Youtube 直播间或频道链接
  YoutubeUrl: https://www.youtube.com/channel/XXXXXXXXXXXXXXXXXXXXXXXX
  # Youtube 登录 Cookie，用于限定直播等
  YoutubeCookie:
Other:
  # 代理地址
  Proxy: http://127.0.0.1:2080
  # ffmpeg 路径
  FFmpegPath: ffmpeg
  # 显示 ffmpeg 日志
  FFmpegLogs: true
  # 显示直播间等待信息
  IdleInfo: true
  # 直播间状态检查间隔（秒）
  CheckDelay: 10
